/.idea/
**/target/
**/*.iml
/deepsampler-recorder-low-level-api/tmp/
/deepsampler-recorder-example/de/
/deepsampler-recorder-bean-converter-extension/tmp/
/deepsampler-recorder-custom-paths/src/test/resources/mySamples.json
/deepsampler-recorder-json-serializer/tmp/
/deepsampler-recorder-matchers/tmp/samples/
